@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
.contactmain h1{
    font-family: 'Montserrat', sans-serif;
}
.contleft{
    display: inline-block;
    border-radius: 20px;
}
.underline{
    text-decoration: underline;
}
.contactmain{
    padding: 1px 10;
}
.btn123{
    margin-left: 300px;
    width: 200px;
}
@media screen and (max-width: 770px){
    .btn123{
        margin-left: 1px;
        width: 100%;
        /* padding: 10px; */
        /* display: block; */
    }
}