@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
.promain h1{
    font-family: 'Montserrat', sans-serif;
}
.column img{
    width: 300px;
    filter: drop-shadow(0px 0px 2px grey);
    transition: width 2s;
}
.column img:hover{
    width: 50%;
    z-index: 1;
}