@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');.exp{
    background-color: rgb(224, 223, 223);
    font-family: 'Anton', sans-serif;}
.exp h1{
    letter-spacing: 3px;
}
.exp span h1{
    margin-left: 100px;
}