@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.exp{
    background-color: rgb(224, 223, 223);
    font-family: 'Anton', sans-serif;}
.exp h3{

    margin-left: 20px;
}
@media screen and (max-width: 770px){
    .exp h3{
        width: 10px;
        font-size: 14px;
        display: inline-flex;
        margin-right: 25px;
        justify-content: space-around;
    }
}